<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Szczegóły przetargu</title>
    <link rel="stylesheet" href="/stylesheets/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="/stylesheets/tailwind.css">
</head>

<body class="bg-gray-100 text-gray-800">
<%- include('components/menu') %>
<div class="max-w-4xl mx-auto bg-white p-6 rounded-lg shadow-md">
    <div class="flex flex-col md:flex-row gap-4 mb-4">
        <div class="flex-1 bg-gray-100 p-4 rounded">
            <h1 class="text-2xl font-bold mb-2"><%= tender.title %></h1>
            <p class="text-sm text-gray-600 mb-4">Instytucja: <span class="font-medium"><%= tender.institutionName %></span></p>
            <p class="mb-2"><strong>Opis:</strong> <%= tender.description %></p>
            <p class="mb-1"><strong>Data rozpoczęcia:</strong> <%= tender.offerStartDate.toLocaleString('pl-PL', { hour: '2-digit', minute: '2-digit', second: undefined, weekday: undefined, day: '2-digit', month: '2-digit', year: 'numeric' }) %></p>
            <p class="mb-4"><strong>Data zakończenia:</strong> <%= tender.offerEndDate.toLocaleString('pl-PL', { hour: '2-digit', minute: '2-digit', second: undefined, weekday: undefined, day: '2-digit', month: '2-digit', year: 'numeric' }) %></p>
            <p class="mb-4"><strong>Maksymalna cena:</strong> <%= parseFloat(tender.maxPrice).toLocaleString('fr-FR') %> zł</p>
        </div>
        <% if (isTenderActive) { %>
        <div class="flex-1 bg-gray-100 p-4 rounded">
            <%- include('components/form-add-offer') %>
        </div>
        <% } %>

    </div>

    <div class="bg-gray-200 p-4 rounded">


    <h2 class="text-xl font-semibold mt-6 mb-4">Złożone oferty</h2>
    <% if (tender.offers && tender.offers.length > 0) { %>
        <div class="overflow-x-auto">
            <table class="min-w-full bg-white border border-gray-200">
                <thead>
                <tr class="bg-gray-50 border-b">
                    <th class="text-left px-4 py-2 font-medium text-gray-700">Dadano przez</th>
                    <th class="text-left px-4 py-2 font-medium text-gray-700">Proponowana cena</th>
                    <th class="text-left px-4 py-2 font-medium text-gray-700">Data złożenia</th>
                </tr>
                </thead>
                <tbody>
                <% tender.offers.forEach(offer => { %>
                    <tr class="border-t hover:bg-gray-50">
                        <td class="px-4 py-2"><%= offer.submittedBy %></td>
                        <td class="px-4 py-2"><%= parseFloat(offer.price).toLocaleString('fr-FR')  %> zł</td>
                        <td class="px-4 py-2"><%= offer.createdAt.toLocaleString('pl-PL', { hour: '2-digit', minute: '2-digit', second: undefined, weekday: undefined, day: '2-digit', month: '2-digit', year: 'numeric' }) %></td>
                    </tr>
                <% }) %>
                </tbody>
            </table>
        </div>
    <% } else { %>
            <% if (isTenderActive) { %>
        <p class="text-gray-600">Nie dodano jeszcze żadnych ofert</p>
                <% } else {%>
                    <p class="text-gray-600">Przetarg zakończony bez roztrzygnięcia</p>
                <% } %>
    <% } %>
</div>
</div>
</body>
</html>